@media (min-width: 768px) {
  .container {
    display: none;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* border-bottom: 1px solid lightgray; */
    gap: 1%;
  }

  .container2 {
    display: flex;
    width: 50%;
    height: 10vh;
    animation: flyAway 1s forwards;
  }

  .name {
    display: flex;
    align-items: center;
    /* margin-left: 10%; */
    font-size: 1.5rem;
    /* font-family: "Jalnan", sans-serif; */
    color: #046eed;
  }

  .button1 {
    width: 5vw;
    height: 5vh;
    /* margin-right: 1vw; */
    background-image: url("../icons/CafeFlow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    /* animation: flyAway 1s forwards; */
  }

  .button2 {
    width: 10vw;
    height: 5vh;
    background-image: url("../icons/mail1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    /* animation: flyAway 1s forwards; */
  }

  .search {
    display: none;
  }

  .cafeflowText {
    font-family: "AGW";
    font-size: 1.5em;
    margin-top: 3vh;
    animation: trackFade 1s ease-out;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: baseline;
  }

  .header2 {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 2vw;
    height: 4vh;
    margin-left: 10%;
  }

  .logobutton {
    background-image: url("../icons/CafeFlow.png");
    background-size: cover;
  }

  .hideOnDesktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6eaed;
    width: 100%;
    height: 8vh;
  }

  .dropdownContainer {
    margin-right: 4%;
  }

  .dropdownItem {
    width: 20vw;
    height: 4vh;
    border-radius: 38px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-color: #6156e2;
    color: black;
  }

  .dropdownButton {
    border-color: #6156e2;
  }

  .dropdownMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    border-color: #6156e2;
    margin-top: 0.5vh;
  }

  .name {
    display: flex;
    align-items: center;
    margin-left: 2%;
    font-size: 1.5rem;
  }

  .emptybutton {
    width: 10vw;
    height: 5vh;
    background-color: white;
    border: none;
  }

  .button1 {
    width: 10vw;
    height: 5vh;
    margin-right: 1vw;
    background-image: url("../icons/CafeFlow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    animation: trackFade 1s ease-out;
  }

  .uniflow {
    width: 25vw;
  }

  .button2 {
    width: 10vw;
    height: 5vh;
    background-image: url("../icons/mail1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    animation: trackFade 1s ease-out;
  }

  .search {
    width: 10vw;
    height: 5vh;
    background-image: url("../icons/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    animation: trackFade 1s ease-out;
  }

  .cafeflowText {
    font-family: "AGW";
    font-size: 1.5em;
    margin-top: 3vh;
    animation: trackFade 1s ease-out;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: baseline;
  }

  .header2 {
    display: flex;
    align-items: center;
  }
}

@keyframes trackFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flyAway {
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  0% {
    transform: translateY(100px) scale(0.3);
    opacity: 0;
  }
}
